{% extends 'base.html' %}
{% block content %}
{% include '../includes/messages.html' %}
<div class="container">
    <div class="row">
        {% if not books %}
        <div class="text-center m-2">
          <div class="alert alert-warning" style="margin:auto" role="alert">
              <h5>No books to show</h5>
          </div>
      </div>
        {% else %}
        {% for book in books %}
        <div class="col-md-4 mv-4 p-3">
          <div class="card text-center" style="width: 18rem;">
              <img class="card-img-top" src="{{book.thumbnail.url}}" alt="BOOK">
              <div class="card-body">
                <h5 class="card-title">{{book.title}}</h5>
                <p class="card-text">
                    {{book.tagline}}
                </p>
                {% if book.type == "ebook" %}
                <form action="/enrollment/" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="bookId" value="{{book.book_id}}">
                  <button type="submit" class="btn btn-outline-primary text-center">Start reading</button>
                </form>
                {% else %}
                <a href="#" class="btn btn-outline-primary text-center">Start listening</a>
                {% endif %}
                &nbsp;&nbsp;
              </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}