<footer class="footer text-center" id="footer">
    <div class="container">
      <p>
        <i class="fa fa-copyright" aria-hidden="true"></i> 2021
         <span>Digital Library </span> | All rights are reserved.
      </p>
      <p>
        Get in touch:
        <a mailto="vslprojects1920@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/vishal-bothe-923634150" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="https://github.com/vishalbothe" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
      </p>
    </div>
    
  </footer>